---
title: Dot Ledger
layout: default
screenshots:
 -
   - title: Dashboard
     filename: dashboard.png
   - title: Account
     filename: account.png
   - title: Categories
     filename: categories.png
 -
   - title: Goals
     filename: goals.png
   - title: New Category
     filename: new-category.png
   - title: New Payment
     filename: new-payment.png
 -
   - title: Sorting Rules 
     filename: sorting-rules.png
   - title: Payments 
     filename: payments.png
   - title: New Sorting Rule
     filename: new-sorting-rule.png
---

<div id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="dot fa fa-circle"></span> Dot Ledger</a>
    </div>

    <div class="collapse navbar-collapse" id="main-nav-menu">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#screenshots">Screenshots</a></li>
        <li><a href="#contribute">Contribute</a></li>
        <li><a href="#demo">Demo</a></li>
      </ul>
    </div>
  </div>
</div>

<section id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Dot Ledger</h1>
        <p>Free and Open Source personal finance management.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="home-screenshots" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img alt="Desktop screenshot" src="/assets/img/screenshots/desktop-screenshot.png" style="width: 100%;" />
            </div>
            <div class="item">
              <img alt="Mobile screenshot" src="/assets/img/screenshots/mobile-screenshots.png" style="width: 100%;" />
            </div>
            <div class="item">
              <img alt="Tablet screenshot" src="/assets/img/screenshots/tablet-screenshot.png" style="width: 100%;" />
            </div>
          </div>

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#home-screenshots" data-slide-to="0" class="active"></li>
            <li data-target="#home-screenshots" data-slide-to="1"></li>
            <li data-target="#home-screenshots" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <h2>About</h2>

    <div class="alert alert-warning"><strong>Warning!</strong> Dot Ledger is not yet stable and may undergo major changes before the first release.</div>

    <p><strong>Dot Ledger</strong> is a web-based personal finance management tool.<p>
    <p>The aim of this project is to create a stable, FOSS alternative to <a href="https://www.xero.com/personal/">Xero Personal</a>
    which was <a href="http://blog.xero.com/2013/08/winding-down-xero-personal-in-november-2014/">shut down</a> in November 2014.</p>

    <div class="row">
      <div class="col-sm-4 col-md-offset-3">
        <h3>Features</h3>
        <ul class="list-unstyled">
          <li>Account dashboard</li>
          <li>REST API</li>
          <li>Spending goals</li>
          <li>OFX import</li>
          <li>Income and expenses report</li>
          <li>Transaction categories</li>
          <li>Sorting rules</li>
          <li>Account groups</li>
          <li>Planned payments</li>
          <li>Transaction tags</li>
          <li>Transaction search</li>
          <li>Balance projection</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>Roadmap</h3>
        <ul class="list-unstyled">
          <li>Email reminders</li>
          <li>More reports</li>
          <li>Split transactions</li>
          <li>Support other import formats (QIF etc)</li>
          <li>Saved Searches</li>
          <li>Transaction autocomplete</li>
          <li>Track assets and liabilities</li>
          <li>CSV export</li>
          <li>API documentation</li>
          <li>API clients</li>
          <li><strong>Hosted SaaS version product</strong></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="screenshots" class="dark">
  <div class="container">
    <h2>Screenshots</h2>

    <div class="alert alert-warning"><strong>Warning!</strong> These screenshots are not up to date. Check out the <a href="#demo">demo</a>.</div>

    {% for row in page.screenshots %}
      <div class="row">
      {% for screenshot in row %}
        <div class="col-md-4">
          <a href="/assets/img/screenshots/{{ screenshot.filename }}" class="thumbnail" data-caption="{{ screenshot.title }}" title="{{ screenshot.title }}">
            <img src="/assets/img/screenshots/{{ screenshot.filename }}" alt="{{ screenshot.title }}" />
          </a>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<section id="contribute">
  <div class="container">
    <h2>Contribute</h2>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><a href="/contributing.html" class="btn btn-default btn-block btn-lg">Contributing guidelines</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><a href="/license.html" class="btn btn-default btn-block btn-lg">Apache 2.0 License</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><a href="/corporate-contributor-license-agreement.html" class="btn btn-default btn-block btn-lg">Corporate contributor license agreement</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><a href="/individual-contributor-license-agreement.html" class="btn btn-default btn-block btn-lg">Individual contributor license agreement</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><a href="https://github.com/dotledger/dotledger" class="btn btn-default btn-block btn-lg">GitHub</a></p>
      </div>
    </div>
  </div>
</section>

<section id="demo" class="dark">
  <div class="container">
    <h2>Demo</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><a href="http://demo.dotledger.com/" class="btn btn-primary btn-block btn-lg">Launch Demo</a></p>
      </div>
    </div>
  </div>
</section>
