@import "variables";
@import "bootstrap";
@import "lightbox";

section {
  padding: 40px 0;

  &.dark {
    background: darken($body-bg, 6.5%);
  }

  &.jumbotron {
    margin-bottom: 0;
  }
}

#home-screenshots .carousel-indicators {
  bottom: -50px;
}

@media (max-width: $grid-float-breakpoint) {
  .nav.navbar-nav.pull-right {
    float: none!important;
  }
}

footer {
  border-top: 1px solid $page-header-border-color;
  font-size: 0.8em;
  padding: 20px 0;
  text-align: center;

  a {
    color: $text-muted;
    .glyphicon {
      vertical-align: text-top;
    }

    &:hover {
      color: darken($text-muted, 10%);
    }
  }
}
